@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans&display=swap");
/* font-family: 'Alata', sans-serif;
font-family: 'Open Sans', sans-serif; */
.btn-secondary,
.bg-secondary {
  background: linear-gradient(45deg, black, purple);
  border-radius: 10px;
}

.heading {
  z-index: 1;
  text-align: center !important;
  font-family: "Alata", sans-serif;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: calc(30px + 4vw);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

@keyframes fire {
  60% {
    text-shadow: 0px -4px 8px white, 0px -12px 24px rgba(255, 200, 200, 1),
      0px -24px 48px rgba(255, 150, 100, 1),
      0px -40px 80px rgba(255, 100, 100, 1),
      0px -60px 120px rgba(255, 50, 50, 1), 0px -84px 168px rgba(255, 0, 0, 1);
  }
}

@keyframes colorSpin {
  to {
    filter: hue-rotate(360deg);
  }
}

.lead {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.same-height {
  min-height: 80vh;
}

.opacity-50 {
  opacity: 0.5;
}
